<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    	<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	    <assembly name="MultiFileManager" />
		<assembly name="MultiFileManager.Logic" />
		<namespace name="MultiFileManager.Logic.Model.FileRenamer" />
		<namespace name="MultiFileManager.Logic.Services" />
		<namespace name="MultiFileManager.Logic.Services.FileRenamer" />
		<namespace name="MultiFileManager.Logic.Services.FileRenamer.FileSystemWrapper" />
		<namespace name="MultiFileManager.Logic.ViewModel.FileRenamer" />
		<namespace name="MultiFileManager.Services" />
		<namespace name="MultiFileManager.View" />
		<container>
	      	<register type="MultiFileManager.Logic.Model.FileRenamer.ITrimSettings,       MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Model.FileRenamer.TrimSettings,         MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Model.FileRenamer.IExtensionModifierSettings,    MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Model.FileRenamer.ExtensionModifierSettings,      MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Model.FileRenamer.ICasingSettings,       MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Model.FileRenamer.CasingSettings,        MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Services.ISelectInputFolderService,       MultiFileManager.Logic" mapTo="MultiFileManager.Services.SelectInputFolderService,          MultiFileManager" />
			<register type="MultiFileManager.Logic.Services.FileRenamer.ITrimService,       MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Services.FileRenamer.TrimService,        MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Services.FileRenamer.IModifyExtensionService,    MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Services.FileRenamer.ModifyExtensionService,     MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Services.FileRenamer.ICasingService,      MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Services.FileRenamer.CasingService,       MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Services.FileRenamer.FileSystemWrapper.IDirectoryInfo,  MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Services.FileRenamer.FileSystemWrapper.DirectoryInfoAdapter,  MultiFileManager.Logic" />
			<register type="MultiFileManager.Logic.Services.FileRenamer.IFileRenamerService,     MultiFileManager.Logic" mapTo="MultiFileManager.Logic.Services.FileRenamer.FileRenamerService,       MultiFileManager.Logic" />
			<register type="MultiFileManager.View.IFileRenamerView,           MultiFileManager" mapTo="MultiFileManager.View.FileRenamerView,             MultiFileManager" />
			<register type="MultiFileManager.Logic.ViewModel.FileRenamer.IFileRenamerViewModel,    MultiFileManager.Logic" mapTo="MultiFileManager.Logic.ViewModel.FileRenamer.FileRenamerViewModel,      MultiFileManager.Logic" />
	    </container>
  </unity>
</configuration>